@import 'element';
@import 'mixin';
@import 'ui';

.poker .chat { @include position-relative; @include size }
.poker .chat .btn-chat { @include btn-chat; @include position-vertical-center(72); }
.poker .chat .body { @include position-relative($margin-small); @include size(280px,100%); @include bg-image($image-bg-chat) }
.poker .chat .body .viewer  { position:relative; @include position-side-margin($margin-small, $margin-small); @include text-small($color-white); overflow-y:auto; overflow-x: hidden;}
.poker .chat .body .bottom { @include position-bottom-left(0, 0); @include size(100%, 128px) }
.poker .chat .body .bottom .input {  @include position-relative; @include position-side-margin($margin-default, $margin-small); text-align: center }
.poker .chat .body .bottom .input .text { @include position-relative; width:100%; @include text-small($color-white); background:none }
.poker .chat .body .bottom .input .btn { @include position-relative(0, $margin-tiny); @include btn-text; @include text-default($color-sky)}
.poker .chat .body .row{ padding: $margin-tiny}
.poker .chat .body .admin-lv1 {@include text-small($color-red) }
.poker .chat .body .admin-lv2 {@include text-small($color-red) }
.poker .chat .body .admin-lv3 {@include text-small($color-grey) }
.poker .chat .body .user {@include text-small($color-white) }
.poker .chat .body .individual {@include text-default($color-sky) }
.poker .chat .body .viewer .title { font-size:$font-tiny }
.poker .chat .body .viewer .text { font-size:$font-small}

.poker .top-navi{ @include position-relative; @include size}
.poker .top-navi .btn-sound { @include btn-sound-off; @include position-right($margin-tiny,$margin-tiny); }
.poker .top-navi .btn-sound-on { @include btn-sound-on; }

.poker .btn-chip{ @include btn-chip; }


.poker .message-box{ @include position-absolute; @include size; z-index:9999}
.poker .message-box .dimed{ @include position-relative; @include size; background:$color-transparent-black70}
.poker .message-box .box{ @include position-center(615,426); @include size(615,426); @include bg-image($image-bg-alert);  text-align:center;}
.poker .message-box .box .title{ @include position-relative; @include text-big($color-white); padding:$margin-default $margin-default 0 $margin-default; text-align:center;}
.poker .message-box .box .message{ @include position-relative; @include text-small($color-white); padding:$margin-default; text-align:center;}
.poker .message-box .box .bottom{ @include position-bottom($margin-default); width:100%}
.poker .message-box .box .bottom .box-btns { @include position-relative; }
.poker .message-box .box .bottom .box-btns .btn-confirm{ @include btn-paper}
.poker .message-box .box .bottom .box-btns .btn-cancel{@include btn-paper($image-btn-paper-blue)}
