@import 'element';
@import 'mixin';


.poker .header {position:relative; width:100%; height:50px; background:$color-grey;}
.poker .header .title {@include position-left($margin-default); @include font-big($color-black); margin-top:10px;}
.poker .header .loading-bar { @include position-right($margin-default); width:40px; height:40px; margin-top:5px;}
.poker .header .btn-join { @include position-right($margin-default); margin-top:10px;}

.poker .chat {position:relative; width:100%; height:100%; background:$color-white;}
.poker .chat .viewer  {@include font-default($color-black); height:100px; overflow:scroll; padding: $margin-tiny}
.poker .chat .input { @include position-bottom; width:100%; height:40px;}
.poker .chat .input .text {@include position-left; padding: $margin-tiny; height:100%}
.poker .chat .input .btn {@include position-right; width:50px; height:100%}

.poker .admin-lv1 {@include font-big($color-red);}
.poker .admin-lv2 {@include font-big($color-red);}
.poker .admin-lv3 {@include font-big($color-black);}
.poker .user {@include font-default($color-black);}
.poker .individual {@include font-default($color-blue);}
