@import 'element';
@import 'mixin';
@import 'ui';

.poker .chat { @include position-relative; @include size }
.poker .chat .btn-chat { @include btn-chat; @include position-vertical-center(36); }
.poker .chat .body { @include position-relative($margin-small); @include size(120px,100%); @include bg-image($image-bg-chat) }
.poker .chat .body .viewer  { position:relative; @include position-side-margin($margin-small, $margin-small); @include text-small($color-white); overflow-y:auto; overflow-x: hidden;}
.poker .chat .body .bottom { @include position-bottom-left(0, 0); @include size(100%, 64px) }
.poker .chat .body .bottom .input {  @include position-relative; @include position-side-margin($margin-small, $margin-small); text-align: center }
.poker .chat .body .bottom .input .text { @include position-relative; width:100%; @include text-small($color-white); background:none }
.poker .chat .body .bottom .input .btn { @include position-relative(0, $margin-tiny); @include btn-text; @include text-default($color-sky)}
.poker .chat .body .row{ padding: $margin-tiny}
.poker .chat .body .admin-lv1 {@include text-small($color-red) }
.poker .chat .body .admin-lv2 {@include text-small($color-red) }
.poker .chat .body .admin-lv3 {@include text-small($color-grey) }
.poker .chat .body .user {@include text-small($color-white) }
.poker .chat .body .individual {@include text-default($color-sky) }
.poker .chat .body .viewer .title { font-size:$font-tiny }
.poker .chat .body .viewer .text { font-size:$font-small}
