
$font-family: 'Noto Sans KR','Noto Sans CJK KR','Noto Sans Korean';
$font-text-R: 'NanumSquareR','Noto Sans KR','Noto Sans CJK KR','Noto Sans Korean';
$font-text-B: 'NanumSquareB','Noto Sans KR','Noto Sans CJK KR','Noto Sans Korean';
$font-number-R: 'FuturaStdHeavy','Noto Sans KR','Noto Sans CJK KR','Noto Sans Korean';
$font-number-B: 'FuturaBTHeavy','Noto Sans KR','Noto Sans CJK KR','Noto Sans Korean';

$margin-tiny: 5px;
$margin-small: 10px;
$margin-default: 20px;
$margin-big: 35px;

$font-tiny: 11px;
$font-small: 13px;
$font-default: 15px;
$font-big: 20px;
$font-ultra: 30px;

$color-white: #fff;
$color-black: #000;
$color-grey: #666;
$color-red: #ff0000;
$color-remon: #faf97c;
$color-sky: #00c0ff;

$color-transparent-white70: rgba(255, 255, 255, 0.7);
$color-transparent-white45: rgba(255, 255, 255, 0.45);
$color-transparent-white15: rgba(255, 255, 255, 0.15);
$color-transparent-black70: rgba(0, 0, 0, 0.7);
$color-transparent-black45: rgba(0, 0, 0, 0.45);
$color-transparent-black15: rgba(0, 0, 0, 0.15);


$image-path:  '../static/asset/';
$image-bg-home: $image-path + 'bg_home.png';
$image-bg-chat: $image-path + 'bg_chat.png';
$image-bg-layer-popup: $image-path + 'bg_layer_popup.png';
$image-bg-rank-blue: $image-path + 'bg_rank_blue.png';
$image-bg-rank-deep-green: $image-path + 'bg_rank_deep_green.png';
$image-bg-rank-green: $image-path + 'bg_rank_green.png';
$image-bg-rank-red: $image-path + 'bg_rank_red.png';
$image-bg-lv-blue: $image-path + 'bg_lv_blue.png';
$image-bg-lv-red: $image-path + 'bg_lv_red.png';
$image-bg-lv-purple: $image-path + 'bg_lv_purple.png';
$image-bg-lv-yellow: $image-path + 'bg_lv_yellow.png';
$image-bg-lv-green: $image-path + 'bg_lv_green.png';
$image-bg-profile: $image-path + 'bg_profile.png';
$image-bg-profile-rect: $image-path + 'bg_profile_rect.png';
$image-bg-game: $image-path + 'bg_game.png';
$image-bg-game-center: $image-path + 'bg_game_center.png';
$image-bg-user: $image-path + 'bg_user.png';
$image-bg-betting: $image-path + 'bg_betting.png';
$image-bg-main-pot: $image-path + 'bg_main_pot.png';
$image-bg-player-profile: $image-path + 'bg_player_profile.png';
$image-bg-progress: $image-path + 'bg_progress.png';
$image-bg-progress-range: $image-path + 'bg_progress_range.png';
$image-cover-user-profile: $image-path + 'cover_user_profile.png';

$image-btn-sound-on: $image-path + 'btn_sound_on.png';
$image-btn-sound-off: $image-path + 'btn_sound_off.png';
$image-btn-menu: $image-path + 'btn_menu.png';
$image-btn-event: $image-path + 'btn_event.png';
$image-btn-event-2: $image-path + 'btn_event_2.png';
$image-btn-chat: $image-path + 'btn_chat.png';
$image-btn-close: $image-path + 'btn_close.png';
$image-btn-bet-bg: $image-path + 'btn_bet_bg.png';
$image-btn-red-chip-big: $image-path + 'btn_red_chip_big.png';
$image-btn-blue-chip: $image-path + 'btn_blue_chip.png';
$image-btn-red-chip: $image-path + 'btn_red_chip.png';
$image-btn-yellow-chip: $image-path + 'btn_yellow_chip.png';
$image-btn-blue-half-chip: $image-path + 'btn_blue_half_chip.png';
$image-btn-red-half-chip: $image-path + 'btn_red_half_chip.png';
$image-btn-purple-half-chip: $image-path + 'btn_purple_half_chip.png';

$image-icon-bb: $image-path + 'icon_bb.png';
$image-icon-sb: $image-path + 'icon_sb.png';
$image-icon-db: $image-path + 'icon_db.png';
$image-icon-hand: $image-path + 'icon_hand.png';
$image-icon-chips-little: $image-path + 'icon_chips_little.png';
$image-icon-chips-much: $image-path + 'icon_chips_much.png';
$image-icon-chips-very-much: $image-path + 'icon_chips_very_much.png';
$image-icon-mission-join: $image-path + 'icon_mission_join.png';
$image-icon-mission-7days: $image-path + 'icon_mission_7days.png';
$image-icon-mission-30days: $image-path + 'icon_mission_30days.png';
$image-icon-rock: $image-path + 'icon_rock.png';
$image-icon-logo: $image-path + 'icon_logo.png';
$image-icon-time-thumb: $image-path + 'icon_time_thumb.png';
$image-icon-player-hands: $image-path + 'icon_player_hands.png';

$image-card: $image-path + 'card.png';

$image-obj-roccat-blue: $image-path + 'obj_roccat_blue.png';
$image-obj-roccat-red: $image-path + 'obj_roccat_red.png';
$image-obj-roccat-purple: $image-path + 'obj_roccat_purple.png';
