@import 'element';
@import 'mixin';


.poker .game-viewer { @include position-absolute; @include size}
.poker .game-viewer .board { @include position-center(342,186); @include size(342,186); @include bg-image($image-bg-game-center); }
.poker .game-viewer .cards{@include position-absolute; @include size }
.poker .game-viewer .pot{@include position-center(140,50,10, -65)}
.poker .game-viewer .pot .main-pot{ @include position-relative;@include size(140, 25); @include text-big($color-white); @include bg-image($image-bg-main-pot);
                                    @include text-shadow; text-align: center; padding-top:3}
.poker .game-viewer .pot .side-pot{ @include position-relative;@include size(140, 25); @include text-default($color-white); @include text-shadow; text-align: center }
.poker .game-viewer .pot .chips{ @include position-absolute(-40, -70); @include icon-chips-little;}

.poker .card{ @include position-absolute; @include bg-image($image-card); background-color:$color-grey;}
.poker .card-show { @include position-absolute; @include size }

.poker .player-viewer { @include position-absolute; @include size }
.poker .player {}
.poker .player-position-wait { display:none }
.poker .player-position-join  { @include position-relative; @include size();  display:block}

.poker .position { @include position-absolute; @include size(180,50); }
.poker .position .player-position-join {  }
.poker .position .player-active { }
.poker .position .profile { @include position-absolute; @include size(50,50); @include bg-image($image-bg-player-profile) ;}
.poker .position .profile .profile-img{ @include position-center(25,25) @include size(25,25)}
.poker .position .box { @include position-absolute; @include size(150,40); @include bg-image($image-bg-user); @include drop-shadow }
.poker .position .btn-join { @include size @include btn-text; @include text-default($color-white) }
.poker .position-l .profile { left:auto; right:0 }
.poker .position-l .box { left:0; right:auto }
.poker .position-r .profile { left:0; right:auto}
.poker .position-r .box { left:auto; right:0 }


/*
.poker .player .box .name { @include text-default($color-white); @include text-line-limit; @include text-padding; margin-top: $margin-small}
.poker .player .box .bankroll { @include text-default($color-remon); @include text-padding}
.poker .player .box .position-icon {}
.poker .player .box .db{ background-color: $color-blue; }
.poker .player .box .sb{ background-color: $color-orange; }
.poker .player .box .bb{ background-color: $color-yellow; }
.poker .player .box .network-status {top:-10px; @include icon-text; background-color: $color-light-red; }
.poker .player .box .action { @include font-small($color-orange); @include text-padding}
.poker .player .box .status { @include font-small($color-blue); @include text-padding}
.poker .player .box .blind { @include position-bottom-right(10px, 20px); @include icon-text}
.poker .player .action-info { @include action-info; left:0px; top:-85px; }
.poker .player .time-range { @include position-bottom-left(0,0); @include bg-radius(3px); width:100%; height:15px;  background-color: $color-transparent-white15; overflow: hidden;}
.poker .player .time-range .time-bar { @include position-horizontal; width:0%; height:100%; background-color: $color-orange;  }
.poker .player .box .show-down { @include position-cover; background-color: $color-transparent-black70; @include bg-radius(20px);}
.poker .player .result-value{ @include status-info; left:165px; top:0px;}
*/




/*



.poker .ui-box { @include position-bottom-center(875px, -100px); margin-left:-580px; height:371px; @include bg-image($image-me-bg)}
.poker .ui-box .profile-image { @include position-absolute(92px, 100px, 124px, 206px);}
.poker .ui-box .info {  @include position-left(360px, 160px); width:200px; height:105px}
.poker .ui-box .info .name { @include font-default($color-white); @include text-line-limit}
.poker .ui-box .info .bankroll { @include font-default($color-yellow); margin-top:$margin-tiny}
.poker .ui-box .info .status { @include font-default($color-blue); margin-top:$margin-tiny }
.poker .ui-box .info .position-status {@include position-top-left(-55px,-45px)}

.poker .ui-box .action .betting{ @include position-absolute(125px, 95px, -10px); margin-left:45px; @include bg-radius($margin-tiny) background-color:$color-transparent-black70; padding:$margin-small }
.poker .ui-box .action .betting .bet{ @include font-default($color-yellow) }
.poker .ui-box .action .betting .btn-multiply { @include position-left($margin-tiny); @include btn-text; @include btn-small-icon-size }
.poker .ui-box .action .betting .btn-increase { @include position-left($margin-tiny); @include btn-text; @include btn-small-icon-size }
.poker .ui-box .action .betting .btn-decrease { @include position-left($margin-tiny); @include btn-text; @include btn-small-icon-size }
.poker .ui-box .action .betting .btn-bet {  @include position-left($margin-tiny, $margin-tiny); @include btn-text-strong; @include btn-small-icon-size }
.poker .ui-box .action .betting .btn-reset { @include position-left($margin-tiny, $margin-tiny); @include btn-text-weak; @include btn-small-icon-size }


.poker .ui-box .action {  @include position-left($margin-default, 160px); width:270px; height:105px}
.poker .ui-box .action .bet { padding:$margin-tiny }
.poker .ui-box .action .bet .check-bet { @include font-default($color-blue) }
.poker .ui-box .action .bet .min-bet { @include font-default($color-red) }
.poker .ui-box .action .btn-blind { @include position-left($margin-tiny); @include btn-text; @include btn-icon-size }
.poker .ui-box .action .btn-fold { @include position-left($margin-tiny); @include btn-text-weak; @include btn-icon-size }
.poker .ui-box .action .btn-small-blind { @include position-left($margin-tiny); @include btn-text; @include btn-icon-size }
.poker .ui-box .action .btn-big-blind { @include position-left($margin-tiny); @include btn-text; @include btn-icon-size }
.poker .ui-box .action .btn-check { @include position-left($margin-tiny); @include btn-text; @include btn-icon-size }
.poker .ui-box .action .btn-call { @include position-left($margin-tiny); @include btn-text; @include btn-icon-size }
.poker .ui-box .action .btn-bet { @include position-left($margin-tiny); @include btn-text-strong; @include btn-icon-size }
.poker .ui-box .action .btn-raise { @include position-left($margin-tiny); @include btn-text-strong; @include btn-icon-size }
.poker .ui-box .action .btn-all-in { @include position-left($margin-tiny); @include btn-text-strong; @include btn-icon-size }
.poker .ui-box .action .time-bar-range { @include position-bottom-left(0,0); @include bg-radius(3px); width:100%; height:15px;  background-color: $color-transparent-black15;  }
.poker .ui-box .action .time-bar { width:0%; height:100%;  background-color: $color-blue;  }
.poker .ui-box .hand { @include position-top-left(660px,50px); width:280px; cursor:pointer }
*/
