@import 'element';
@import 'mixin';
@import 'room';
@import 'component';

.poker {position:relative; width:100%; height:100%; background:$color-black; overflow:hidden;}
.poker .page-area { position:relative; width:100%; height:100%; background:$color-black; overflow:hidden;}


.poker ::-moz-selection { background: transparent}
.poker ::-webkit-selection {background: transparent}
.poker ::-ms-selection {background: transparent}
.poker ::selection {background: transparent}
