
.poker .room-list { @include position-relative; @include size; overflow-y: auto; overflow-x:hidden; }
.poker .room-list .item{ @include position-relative; @include size(100%, 188); margin-top:$margin-default; margin-bottom:$margin-default }
.poker .room-list .lv1{ @include bg-image($image-bg-lv1); }
.poker .room-list .lv2{ @include bg-image($image-bg-lv2); }
.poker .room-list .lv3{ @include bg-image($image-bg-lv3); }
.poker .room-list .lv4{ @include bg-image($image-bg-lv4); }
.poker .room-list .item .dimed{@include position-absolute; @include size; background-color:$color-transparent-black45}
.poker .room-list .item .icon-lv{@include size(188,100%); @include position-left($margin-tiny);}
.poker .room-list .item .text-box{@include position-left(0, $margin-default); @include size(290,auto)}
.poker .room-list .item .text-box .text-lv{@include size(100%,75) @include position-relative}
.poker .room-list .item .text-box .text{ @include position-relative(0,$margin-tiny); @include size(100%, auto); @include text-small($color-remon); text-align:center;}
.poker .room-list .item .icon-rock{@include icon-rock; @include position-right();}
.poker .room-list .item .btn{@include btn-trensparent;}

.poker .rank-list { @include position-relative; @include size; overflow-y: auto; overflow-x:hidden; }
.poker .rank-list .item{ @include position-relative; @include size(100%, 88); @include bg-image($image-bg-rank);  }
.poker .rank-list .rank1{ @include bg-image($image-bg-rank-top); }
.poker .rank-list .item .profile-img { @include position-left(10,5); @include size(80,80);}
.poker .rank-list .item .rank{ @include position-left(27, 24); @include size(52, 30); @include text-tiny($color-white); @include text-shadow($color-transparent-black45); text-align:center;}
.poker .rank-list .rank1 .rank{ @include text-small($color-yellow); }
.poker .rank-list .rank2 .rank{ @include text-small($color-yellow); }
.poker .rank-list .rank3 .rank{ @include text-small($color-yellow); }
.poker .rank-list .item .info { @include position-left($margin-tiny,5); @include size(150,12);}
.poker .rank-list .item .info .text{@include position-relative; @include size(100%, 35); @include text-small($color-white); @include text-shadow($color-transparent-black45); text-align:center; @include text-line-limit}
.poker .rank-list .item .info .desc{@include position-relative; @include size(100%, 35); @include text-tiny($color-remon); @include text-shadow($color-transparent-black45); @include text-line-limit; text-align:center;}
.poker .rank-list .item .btn{@include btn-trensparent;}

.poker .user-box { @include position-relative; @include size(100%,100%); @include bg-image($image-bg-user-box)}
.poker .user-box .profile-img{ @include position-absolute(28,80); @include size(88,88) }
.poker .user-box .info { @include position-absolute(145,80); @include size(165,100)}
.poker .user-box .info .text{@include position-relative; @include size(auto, auto); @include text-small($color-white); @include text-line-limit}
.poker .user-box .lv{@include position-absolute(115,19); @include size(135, 28);}
.poker .user-box .rank{ @include position-absolute(330,105); @include size(60, 32);}
.poker .user-box .btn{@include btn-trensparent;}

.poker .character-list { @include position-relative; @include size; overflow-y: auto; overflow-x:hidden; }
.poker .character-list .item{ @include position-left; @include size(150, 150);}
.poker .character-list .item .character-img { @include size(100%, 100%);}
.poker .character-list .item .btn{@include btn-trensparent;}
